
OPENAI_API_KEY=your_api_key_heresk-proj-js7ttcNBHPPH_R1WmRRNAyCnAsBItzLVvMDeyk-nq2Y9Fmc7u2wQdeuGRW7oTRMNzQQmWkrHmwT3BlbkFJzP7U6qwi6mSriU8LMgGf-UyWM55k7vIYsBPU1Alnt5prbwJYTCHRSqO25m3whrCQTSqTVlaEYA
